<%- await include('email-doctype') %>
  <html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <%- await include('email-head', {title: title}) %>

    <p>This is an automated email. No response is required.</p>

    <p>
      <%= recipient.contact.first_name %>
        <%= recipient.contact.last_name %>,
    </p>

    <p>Thank you for confirming you will not attend the Long Service Awards Ceremony.</p>

    <p>Awards are presented the year that you register. Since you're not attending
      the ceremony, your award will be mailed directly to you. The Long Service
      Awards team will be in touch to confirm your preferred mailing address
      and to arrange shipping.</p>

    <p>You can defer your ceremony attendance for one year. If you choose to
      defer, you need to re-register in March <%= currentCycle.name + 1 %>.</p>

    <p>If you have already deferred attendance for the ceremony, we look forward
      to celebrating your next milestone.</p>

    <p>If you have any questions, please connect with your organization's
      <a href="https://longserviceawards.gww.gov.bc.ca/contacts/">Long Service Awards contact</a> or email
      the
      <a href="mailto:longserviceawards@gov.bc.ca?subject=Question%20about%20LSA%20ceremony">
        Long Service Awards team</a>.
    </p>

  </html>