<%- await include('email-doctype'); %>
  <html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <%- await include('email-head', {title: title}); %>

    <body class="body" style="
      padding: 0;
      margin: 0;
      display: block;
      background: #ffffff;
      -webkit-text-size-adjust: none;
    ">
      <div class="container">
        <%- await include('email-banner'); %>
          <table>
            <tr>
              <td style="border-bottom: 1px solid #e7e7e7">
                <p style="text-align: center">
                  <strong>This is an automated email. No response is required.</strong>
                </p>
                <p>
                  You have successfully registered for a <%= service.milestone %>
                    year Long Service Award. Congratulations on reaching this
                    milestone in your career!
                </p>
                <% if (!service.previous_award && typeof service.awards !=='undefined' && typeof service.awards.award
                  !=='undefined' ){ %>
                  <p>
                    You selected the <%= service.awards.award.label %> as your award. You can review your
                      award choice in the 2026 Long Service Awards <a
                        href="https://longserviceawards.gww.gov.bc.ca/register/awards/">catalog</a>.
                  </p>
                  <% } %>
                    <h2>Ceremony</h2>
                    <p>
                      The <%= service.cycle %> ceremonies will be held in Victoria this fall.</p>
                    <p>
                      We will email your formal invitation by the end of June. It will include your
                      ceremony date, location and event details. As each ceremony is tailored to host
                      specific ministries and organizations, you cannot change your assigned
                      ceremony date.
                    </p>
                    <p>
                      We have also emailed your supervisor a confirmation of your registration.
                    </p>
                    <h2>Deferred attendance</h2>
                    <% let nextCycle=service.cycle + 1 %>
                      <p>
                        If you have registered but have opted out or are unable to attend the ceremony
                        this year, we will courier your award to you after the fall ceremonies. You may
                        defer your attendance for one year and register again for next year's ceremony
                        in spring <%= nextCycle %>.
                      </p>
                      <p>
                        If you deferred your last invitation to the ceremonies, this is your final
                        opportunity to attend the Long Service Awards.
                      </p>
                      <h2>Travel</h2>
                      <p>
                        Please connect with your Long Service Awards contacts to confirm
                        your organization’s travel process. You can also find information
                        about the travel policy and reimbursement process on the
                        <a href="https://longserviceawards.gww.gov.bc.ca/travel/">Long Service Awards website</a>.
                      </p>
                      <p>
                        For those without IDIR access, please email
                        <a href="mailto:longserviceawards@gov.bc.ca?subject=Question%20about%20LSA%20ceremony">
                          LongServiceAwards@gov.bc.ca</a>
                        if you have any questions, or if you’d like to be connected with
                        your
                        <a href="https://longserviceawards.gww.gov.bc.ca/contacts/">
                          organization’s contact</a>.
                      </p>
                      <p>We look forward to celebrating you this fall.</p>
                      <p>Your Long Service Awards team</p>
                      <%- await include('email-footer'); %>
              </td>
            </tr>
          </table>
      </div>
    </body>

  </html>