<%- include('email-doctype'); %>
<html xmlns="http://www.w3.org/1999/xhtml">
<%- include('email-head', {title: title}); %>
<body class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">
    <table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%">
        <tr>
            <td align="center" valign="middle" bgcolor="#ffffff" width="100%">

                <table cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <td width="100%">
                            <div class="logo">
                                <img class="logo" src="https://longserviceawards.gww.gov.bc.ca/wp-content/uploads/2022/07/lsa-logo-web.png">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom:1px solid #e7e7e7;">
                            <h1 style="text-align: center">Long Service Awards: Registration Confirmation</h1>
                            <p style="text-align: center"><strong>THIS IS AN AUTOMATED EMAIL. NO RESPONSE IS REQUIRED.</strong></p>
                            <p>
                                This email is to advise that your employee, <%= contact.first_name %> <%= contact.last_name %>,
                                has registered to receive a <%= service.milestone %> year Long Service Award in <%= service.cycle %>.
                            </p>
                            <p>
                                Long Service Awards registration is open to any full-time, part-time or seasonal employees who
                                have reached a 25, 30, 35, 40, 45 or 50 year milestone with the BC Public Service by December 31, 2023.
                                Employees who have achieved one of these milestones prior to this year but have not been recognized
                                for it can also register.
                            </p>
                            <h2>Ceremony</h2>
                            <p>
                                The Long Service Award ceremonies are prestigious and memorable events held in Victoria. We are following
                                the Provincial Health Officer’s directives regarding events and travel. We will provide any updates to
                                registered recipients over the summer and update the Long Service Awards website.
                            </p>
                            <h2>Travel and Time Off</h2>
                            <p>
                                Long Service Awards recipients from outside Greater Victoria must be approved to take time off to
                                attend their ceremony. Travel costs, including transportation, hotel and meal expenses for the
                                recipient and one guest, is covered by the employee’s organization.
                            </p>
                            <p>
                                For Victoria-based recipients, taxi expenses to and from their ceremony are covered by their organization.
                                In addition, Victoria-based recipients must be provided a reasonable amount of time to prepare for their
                                ceremony. It is recommended that recipients are able to leave their workplace by at least 2 pm on the day
                                of their event without any negative impact to their pay. In cases where the recipient is a front-line
                                worker, arrangements for coverage should be made in advance.
                            </p>
                            <p>
                                If you have additional questions, contact
                                your <a href="https://longserviceawards.gww.gov.bc.ca/contacts/">Long Service Award contact</a>.
                            </p>
                            <%- include('email-footer'); %>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
